body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.red {
  color: red;
  font-weight: bold;
}
input:read-only {
  background-color: brown;
  color:white;
  cursor: not-allowed;
}
input.invalid {
  background-color: red
}

.app {
  min-height: 100vh;
  padding: 10px;
}
.theme-light {
  background-color: white;
  color:#535353;
  a {
    color:#535353;
    font-weight: bold;
  }
  button.custom {
    background-color: white;
    border: solid 3px lightgreen;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
  }
}

.theme-dark {
  background-color: #535353;
  color: white;
  .offer {
    background-color: black;
    .img-thumbnail {
      background-color:#535353;
    }
  }
  a {
    color: white;
    font-weight: bold;
  }
  button.custom {
    background-color: #535353;
    color: white;
    border: solid 3px lightgreen;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border-radius: 8px;
  }
}
a {
  text-decoration: none;
}

input {
  height: 30px;
  border-radius: 5px;
  font-size: large;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}